.filter{
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1{
        font-weight: 300;
        font-size:25px;
    }

    .item{
        display: flex;
        flex-direction: column;
        gap: 2px;

        lable{
            font-size:10px;
        }

        input ,select{
            width:100px;
            padding:10px;
            border: 1px solid #999;
            border-radius: 5px;
            font-size:15px;
        }
    }

    .top{
        input{
            width:50%;
        }
    }

    .bottom{
        display: flex;
        justify-content: space-between;
        gap: 5px;

        button{
            width: 100px;
            padding:10px;
            border: none;
            background-color: #fece51;
            color: #fff;
            cursor: pointer;

            img{
                width: 24px;
                height: 24px;
            }
        }
    }
}